mixin header(name)
	.title
		h1
			span.name= name
			span.id= ": Serenity " + version
		p.nav
			if hasDb && setup && auth
				a(href="/__server") Server
				|
				|
				a(href="/__server/handlers") Handlers
				|
				|
				a(href="/__server/docs/index") Docs
				|
				|
				a(href="/__server/errors") Errors
				|
				|
				a(href="/__server/reports") Reports
			else if hasDb && !setup
				span Waiting for setup
			else if !hasDb
				span No db connection
		if setup
			p.nav
				if auth
					span.id= "#" + auth.id
					span= " " + auth.name + " "
					if auth.cancel
						a(href=auth.cancel) (Exit)
				else
					a(href=window.location.pathname+"?auth") Not authorized
